node_modules
bun.lockb

module.exports = {
  name: 'Aviral Verma',
  title: 'Software Engineer',
  github: ['https://github.com/aviralrabbit1'],
  linkedin: ['https://www.linkedin.com/in/aviral-verma-iiita/'],
  contact: 8318055410,

  projects: 
    {
      connect4 :'https://aviralrabbit1.github.io/connect-4/',
      amdb: 'https://amdb-zeta.vercel.app/',
      World_of_words: 'https://world-of-words.vercel.app/',
      threejs: 'https://aviral-3js-portfolio.web.app/',
      nasa_mission_control: 'currently WIP, an educational-only project'
    },
    // 'https://aviralchatrooms.netlify.app/',
  
}
  